.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    
   }
   /* Control the left side */
   .left {
    left: 0;
    background-image: url('https://media.istockphoto.com/vectors/independence-day-abstract-background-vector-id1142470115?k=20&m=1142470115&s=612x612&w=0&h=5pa4oWPuei7WoJfTKGLEwCaS4MWJKdh9inflR530lys=');
    overflow: scroll;
    color: white;
    width: 40%;
   }
   /* Control the right side */
   .right {
    right: 0;
    overflow: scroll;
    color: white;
    background-image: url('https://t4.ftcdn.net/jpg/03/45/78/29/360_F_345782930_8FFd1mgvOKYOeppAVSv1S9yPykFpj65i.jpg');
    width: 40%
   }

  #header {
      background-image: url('https://cdn.pixabay.com/photo/2016/01/24/02/43/banner-1158378_960_720.jpg');
      color: white;
      width: 100%;
  }

  #comment-section{
      width: 20%;
      padding: 0px 0px 0px 600px;  
      display: block;
    
  }
#comment-container{
    width: 20%;
    margin: 0px 0px 300px 0px;
    left: -25px;
    position: relative;
    padding: 0px 0px 0px 50px;
    display: inline-table;
}
  #searchbar{
      height: 30px;
      margin: 0px 0px 0px 250px
  }

  * {
      font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
  }

  .nav{
      margin: 0px;
  }
  .nav li {
      display: inline;
  }

  #footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem
  }