.split {
    height: 100%;
    width: 40%;
    position: fixed;
    overflow-x: hidden;
    margin: 0px 0px 0px -1px;
    z-index: 0;
    
   }
   /* Control the left side */
   .left {
    left: 0;
    background-image: url('https://media.istockphoto.com/vectors/independence-day-abstract-background-vector-id1142470115?k=20&m=1142470115&s=612x612&w=0&h=5pa4oWPuei7WoJfTKGLEwCaS4MWJKdh9inflR530lys=');
    overflow: scroll;
    color: white;
    width: 40%;
    
   }
   /* Control the right side */
   .right {
    right: 0;
    overflow: scroll;
    color: white;
    background-image: url('https://t4.ftcdn.net/jpg/03/45/78/29/360_F_345782930_8FFd1mgvOKYOeppAVSv1S9yPykFpj65i.jpg');
    width: 40%;
    
   }

  #header {
      background-image: url('https://cdn.pixabay.com/photo/2016/01/24/02/43/banner-1158378_960_720.jpg');
      color: white;
      width: 100%;
      font-weight: 300;
  }
  .header-title{
    font-weight: bold;
  }
  #comment-section{
    width: 20%;
    display: block;
    bottom: 40px;
    position: absolute;
    padding: 0px 90px;
  }
#comment-container{
    width: 20%;
    margin: 0px auto;
    height: 600px;
    border: solid gray 2px;
    overflow: scroll;
}
    
  #searchbar{
      height: 30px;
      margin: 0px 0px 0px 250px
  }

  * {
      font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
  }

  .nav{
      margin: 0px;
  }
  .nav li {
      display: inline;
  }

  #footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem
  }

  #cnn:hover{
    background-color: yellow;

  }
  #trending:hover{
    background-color: yellow;

  }
  #fox:hover{
    background-color: yellow;

  }
  #bbc:hover{
    background-color: yellow;

  }

  #commentInput{
    height: 50px;
  }