.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
  }

  #cnn, #fox { 
    font-size: xx-large;
    /* -webkit-text-stroke: medium; */
    /* position:fixed; */
    text-align: center;
    
  }

  .form {
    text-align: center;
  }

  .divcontainer {
    height: 100px;
    overflow: scroll;
    background-color: white;
    color: black;
    width: 75%;
    margin: 0px auto;
  }

  #intro-sentence {
    background-color: white;
    text-align: center;
    /* display: inline-block; */
    color: black

  }

  /* #leftside {
    color: yellow

  } */

  article {

    /* background-color: rgb(150, 150, 253); */
    padding: 20px;
    height: 60vh;
    
  }
  
  img {

    width: 100%;
    height: 300px

  }

  .h2, h2 {
    font-size: initial;
    text-align: center;
}

  
  
  .left {
    left: 0;
    background-image: url('https://media.istockphoto.com/vectors/independence-day-abstract-background-vector-id1142470115?k=20&m=1142470115&s=612x612&w=0&h=5pa4oWPuei7WoJfTKGLEwCaS4MWJKdh9inflR530lys=');
    overflow: scroll;
    color: white
  }
  
  .right {
    right: 0;
    background-image: url('https://t4.ftcdn.net/jpg/03/45/78/29/360_F_345782930_8FFd1mgvOKYOeppAVSv1S9yPykFpj65i.jpg');
    overflow: scroll;
    color: white
  }

  h3 {
    text-align: center;
  }

  #header {
    background-image: url('https://cdn.pixabay.com/photo/2016/01/24/02/43/banner-1158378_960_720.jpg');    
    color: white;
    text-align: center;  
    

}

* {
      font-family: Georgia, 'Times New Roman', Times, serif;
  }